@import url('https://fonts.googleapis.com/css?family=Lobster');
#gfont{font-family: 'Lobster', cursive;
}
.caps{
	font-variant: small-caps;	
}	
.red{
	color: red;
}
.black{
	color: black;
}
li.italic {font-style: italic;
		}
	li.normal {font-style: normal;
		}
	li.oblique {font-style: oblique;
		}
	li { color: red;
		}
	div.bgpic {margin-left:auto; margin-right:auto; background-image: url("http://cdn3.pitchfork.com/albums/10841/8212e6dc.jpeg");
	background-position:center; 
	}
	table.bgt { background: rgb(191,110,78);
	}
	tr:nth-child(even) {
    background-color: rgb(255, 128, 64);
}
		body {background: 
radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.15) 30%, rgba(255,255,255,.3) 32%, rgba(255,255,255,0) 33%) 0 0,
radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.1) 11%, rgba(255,255,255,.3) 13%, rgba(255,255,255,0) 14%) 0 0,
radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 17%, rgba(255,255,255,.43) 19%, rgba(255,255,255,0) 20%) 0 110px,
radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 11%, rgba(255,255,255,.4) 13%, rgba(255,255,255,0) 14%) -130px -170px,
radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 11%, rgba(255,255,255,.4) 13%, rgba(255,255,255,0) 14%) 130px 370px,
radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.1) 11%, rgba(255,255,255,.2) 13%, rgba(255,255,255,0) 14%) 0 0,
linear-gradient(45deg, #343702 0%, #184500 20%, #187546 30%, #006782 40%, #0b1284 50%, #760ea1 60%, #83096e 70%, #840b2a 80%, #b13e12 90%, #e27412 100%);
background-size: 470px 470px, 970px 970px, 410px 410px, 610px 610px, 530px 530px, 730px 730px, 100% 100%;
background-color: #840b2a;
		}
			table {border-collapse:collapse;
	}
	a:link{color:lightgrey;
	text-decoration:none;
	}
	a:visited{color:red;
	text-decoration:none;
	}
	a:hover{font-weight:bold;
			color:white;
			text-decoration:underline;
	}
	#center{text-align:center;
	}

