@import url('https://fonts.googleapis.com/css?family=Molle:400i|Pacifico');
.footer {
    position : fixed;
    bottom : 0px;
    height : 70px;
    margin-top : 20px;
	width : 100%;
	text-align : center;
	font-family: 'Molle', cursive;
	background-color: #C11B17;
	vertical-align : center;
	border-top-width: 4px;
       border-top-style: solid;
       border-top-color: black;
  }
.header {
	position : absolute;
	top : 0px;
	width : 100%;
	height : 145px;
	text-align : center;
	vertical-align : middle;
		font-family: 'Molle', cursive;
			background-color: #C11B17;
	border-bottom-width: 4px;
       border-bottom-style: solid;
       border-bottom-color: black;
  }
#margin {
	margin-left:50px;
  }
#body {
	font-style : italic;
	font-family : helvetica;
	background-color : 	#B6B6B4;
}
.zont {
	color : black;
	width : 100%;
	height : 1px;
	background-color : black;
	border: 1px solid black;
}
.mf{font-family: 'Pacifico', cursive;
	margin-left:500px;
	margin-right:500px;
}
#bgclr{background-color: red;
}
.mid{ height: 200px;
		margin-top:200px;
		margin-bottom:50px;
		
}
a{text-decoration: underline;
	color:black;
}
a:visited{color:blue;
}
a:hover{font-weight:bold;
}
a:active{text-decoration:none;
		background-color: red;
}
.td {text-align:center;
		}
.addr {text-align:center;
		}
body {background-color:grey;
		}
.lefty{ text-align:left;
		}
.bld{font-weight: bold;
		}
.addr {text-align:center;
		}
.spr {margin-left:95px;  
		font-size:9px; 
		height:20px;
		width:80px;
		border-radius: 10px; 
			-moz-border-radius: 10px; 
			-webkit-border-radius: 10px;
		}
.cbox{width:20px;
		height:20px;
		}
.rdo{width:2em;
		height:2em;
		}
.rndcrn{border-radius: 10px; 
			-moz-border-radius: 10px; 
			-webkit-border-radius: 10px; 
			width:178px;
			height:20px;
		}
body{background-color:grey;
			}
table {outline: none;
			}
.jumbotron{background-color: grey;
}


  
